{{#if id}}
<h1>Upravit kontejner</h1>
{{else}}
<h1>Novy kontejner</h1>
{{/if}}
{{#if id}}
<form action="/kontejner/{{id}}" method="post" enctype="application/x-www-form-urlencoded">
{{else}}
<form action="/kontejner" method="post" enctype="application/x-www-form-urlencoded">
	<input type="hidden" value="PUT" name="_method" />
{{/if}}
	<p>
		Jméno:
		<input name="name" value="{{name}}" />
	</p>
	<p>
		Strojové jméno:
    <input name="code_name" value="{{code_name}}" /><br/>
    <small>(url alias, třeba <code>zluty_kontejner</code>)</small>
		{{! TODO validovat unikátnost }}
	</p>
	<p>
		Popis:
		<textarea name="content">{{content}}</textarea>
	</p>
	<p>
		<input type="submit" value="odeslat" />
		<a href="/kontejner/{{id}}">zrušit</a> |
		<a href="/kontejner/{{id}}/upravit">obnovit formulář</a> |
		<a href="/kontejner">seznam kontejneru</a> |
		<a href="/kategorie">seznam kategorií</a> |
		<a href="/odpadky">seznam odpadků</a>
	</p>
</form>
{{> container/delete}}
