{{!-- <form id="delete-trash-by-id-{{_id}}" action="/odpadky/{{_id}}" method="POST" enctype="application/x-www-form-urlencoded" style="display: inline-block;">
	<input type="hidden" value="DELETE" name="_method" />
	<input type="submit" value="Smazat" class="btn btn-secondary" />
	<a href="#" onclick="$('#delete-trash-by-id-{{_id}}').submit()">smazat</a>
</form>
--}}

{{#if _id}}
<a href="#" onclick="$.ajax({ url: '/odpadky/{{_id}}', type: 'POST', data: {_method: 'DELETE'}, success: function() { window.location.replace('/odpadky'); }})">smazat</a>
{{/if}}

{{!--
<script>
// deleteTrash(id) {
// 	$('<form action="/odpadky/{{_id}}" method="POST"><input type="hidden" value="DELETE" name="_method" /></form>').submit();
// }
</script>
<a href="#" onclick="$.ajax({ url: '/odpadky/{{_id}}', type: 'POST', data: {_method: 'DELETE'}, async: false})">smazat</a>
--}}
