<h1>{{name}}</h1>
<pre>{{code_name}}</pre>
<p>vytvořena {{creation_date}} | naposledy upravena {{last_edit_date}}</p>
<p>{{content}}</p>
<p>
	<a href="/kategorie/{{id}}/upravit">upravit</a>
	<form action="/kategorie/{{id}}" method="delete" enctype="application/x-www-form-urlencoded"> <input type="submit" value="Smazat" /> </form>
	<a href="/kategorie">seznam kategorií</a>
	<a href="/odpadky">seznam odpadku</a>
</p>
