<script> $(function() {
  var $ideas = $('.js-ideas');
  var $value = $('.js-ideas-value');
  var $result = $('.js-ideas-result');
  var T_30SEC = 30000;
  var T_3SEC = 3000;

  var ideasXhr;
  $value.autoComplete({
      minChars: 0,
      delay: 300,
      source: function(term, response){
        console.log({term});
        try { ideasXhr.abort(); } catch(e){}
        ideasXhr = $.getJSON('/odpadky', { t: 'json', q: term }, function(data){ response(data); });
      },
      renderItem: function(item, search) {
        console.log({item, search});
        var name = item.name;
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        return '<div class="autocomplete-suggestion" data-val="' + name + '" data-trash-id="' + item._id + '">' + name.replace(re, "<b>$1</b>") + '</div>';
      },
      onSelect: function(event, term, item) {
        var id = item.data('trash-id');
        event.preventDefault();
        location.href = '/odpadky/' + id;
      },
  });

  $ideas.submit(function(e) {
    var value = $value.val();
    $.ajax({
      method: 'PUT',
      url: '/odpadky/napady',
      data: { name: value },
      success: function(data) {
        alertGood('Odpadek vytvořen ;-) <a href="/odpadky/' + data.id + '">' + value + '</a>');
      },
      error: function(data) {
        alertBaad('Něco se ošklivým způsobem nepovedlo :-(');
      },
    });
    e.preventDefault();
    return false;
  });

  function alertGood(text) {
      var $alert = $('<div class="alert alert-success" role="alert">' + text + '</div>').prependTo($result);
      setTimeout(function(){ $alert.hide('slow').remove(); }, T_30SEC);
  };

  function alertBaad(text) {
      var $alert = $('<div class="alert alert-danger" role="alert">' + text + '</div>').prependTo($result);
      setTimeout(function(){ $alert.hide('slow').remove(); }, T_3SEC);
  };
});
</script>

<section class="container text-center">
  <form class="js-ideas form-inline text-center">
    <div class="row" style="width: 95%;">
      <input class="js-ideas-value form-control col-10" type="text"/>
      <button class="btn col-2" type="submit">Vytvořit</button>
    </div>
  </form>
  <div class="js-ideas-result"></div>
</section>

<!--  -->
<!--  -->
<!--  -->

<style>
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 300px;
  position: relative;
}
.card {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.kth-card {
    height: 100%;
    margin: 8px;
    padding: 8px;
    border: 0;
    border-radius: 0;
    background-color: #fafafa;
}
</style>

{{!-- <div style="text-align: center;">
  <h1>Los Odpadkos{{#if q}}: {{q}}{{/if}}</h1>
  <p>&nbsp;</p>
</div> --}}

<div class="row">
  <div class="card col-xs-12 col-md-6 col-lg-4 text-center" style="padding: 8px; border: 0; border-radius: 0;">
    <a href="/odpadky/novy" class="btn" style="width: 100%; height: 100%; border-radius: 0; background-color: white; vertical-align: center;">
      <div>
        <i class="fa fa-plus-circle fa-5x" aria-hidden="true" style=""></i><br/>
        vytvořit<br/>
        nový<br/>
        odpadek
      </div>
    </a>
  </div>
{{#odpadky}}
  <div class="card col-xs-12 col-md-6 col-lg-4">
  <div class="kth-card">
    {{#if imagePath}}
    <a href='/odpadky/{{_id}}'>
      <div class="image" style="background-image: url({{imagePath}});"></div>
    </a>
    {{else}}
      <div class="image"></div>
    {{/if}}
    <div class="card-block text-center">
      <h4 class="card-title">
        {{!--<span style="color: grey;">{{category}}{{#if category}}/{{/if}}</span>--}}
        <a href='/odpadky/{{_id}}'>{{name}}</a>
        {{#equals status 'PUBLIC'}}
          <i class="fa fa-check" aria-hidden="true" style="color: #3BB053;"></i>
        {{else}}
          <sup style="color: grey; font-size: small;">DRAFT</sup>
        {{/equals}}
        <br/>
        <a href="/odpadky/{{_id}}/upravit"><i class="fa fa-pencil-square-o" aria-hidden="true" title="upravit"></i></a>
        <a href="/odpadky/{{_id}}/nahraj-obrazek"><i class="fa fa-picture-o" aria-hidden="true" title="nahrát obrázek"></i></a>
        {{> trash/delete}}
      </h4>
      <p class="card-text">{{{description}}}</p>
    </div>
  </div>
  </div>
{{/odpadky}}
</div>
