{{#if _id}}
<h1><span style="color: grey;">{{category}}{{#if category}}/{{/if}}</span>{{name}}</h1>

<p>
{{#if aliases}} Nebo také: {{aliases}} | {{/if}}
vytvořen {{creation_date}} {{#if creation_user}} uživatelem {{creation_user}}{{/if}}
| naposledy upraven {{last_edit_date}} {{#if last_edit_user}} uživatelem {{last_edit_user}} {{/if}}
</p>


<p>{{content}}</p>


{{#if description}}
<h2> POPIS </h2>
<p>{{description}}</p>
{{else}}
<p>Žádný popis</p>
{{/if}}

{{#if note}}
<h2> POZNÁMKA </h2>
<p>{{note}}</p>
{{else}}
<p>Žádná poznámka</p>
{{/if}}

<p>
	<a href="/odpadky/{{_id}}/upravit">upravit</a> |
	<a href="/odpadky">seznam odpadků</a> |
	{{> trash/delete}}
</p>

{{else}}
Tento odpadek neexistuje.
{{/if}}
