<h1>{{name}}</h1>
<p>vytvořen {{creation_date}} | naposledy praven {{last_edit_date}}</p>
<p>{{content}}</p>
<p>
	<a href="/odpadky/{{_id}}/upravit">upravit</a> |
	<a href="/odpadky">seznam odpadků</a> |
	{{> trash/delete}}
</p>
