<div class="container text-center" style="padding: 40px; background-color: #fafafa">

  <h1>{{name}}</h1>

  <div id="image-uploader" class="d-inline-block" style="{{#if imagePath}}background: black url({{imagePath}}) no-repeat center;{{/if}}">
    <input id="fileupload" type="file" name="image" data-url="/odpadky/{{_id}}/nahraj-obrazek" style="display: none;">
    <img id="dropzone" class="fade well" src="/img/clickordrop.png">
    <div id="progress">
        <div class="bar"></div>
    </div>
  </div>

  <blockquote>
  Nahrávadlo funguje do <b>10MB</b>. Po nahrání se obrázek zmenší na velikost 500x500px
  </blockquote>

  <div class="row">
    <a href="/odpadky/{{_id}}/upravit" class="btn btn-outline-warning"> zpět na odpadek </a>
    <div>&nbsp;</div>
    <a href="/odpadky" class="btn btn-outline-warning"> zpět na seznam odpadků </a>
  </div> {{!-- .row --}}

</div>



<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/load-image.all.min.js"></script>
<script src="/js/canvas-to-blob.min.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.fileupload-process.js"></script>
<script src="/js/jquery.fileupload-image.js"></script>

<style>
#image-uploader {
   width:500px;
}
#dropzone {
  width: 100%;
  opacity: 0.8;
  border: 5px solid #292929;
}
#dropzone.fade:hover {
  cursor: pointer;
  opacity: 0.7;
}
#dropzone.fade.in {
    border: 5px dashed #292929;
}
#dropzone.fade.in.hover {
    opacity: 0.7;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}
#progress {
  margin-top: -1px;
  width: 100%;
  max-width: 500px;
  background: #55a;
  display: none;
}
#progress .bar {
   width: 0%; height: 10px; background: #aaf;
}
</style>

<script>
$(function () {
  // Prevent default drop actions
  $(document).bind('drop dragover', function (e) {
    // Just in case
    var $dropzone = $('#dropzone');
    $dropzone.removeClass('in hover');
    // Prevent it all
    e.preventDefault();
  });

  $(document).bind('dragleave', function (e) {
    var $dropzone = $('#dropzone');
    $dropzone.removeClass('in hover');
  });


  // Propagate click to the upload element
  $('#dropzone').click(function(e){ $('#fileupload').click(); });

  // Handle the dragover event
  $(document).bind('dragover', function (e) {
    var $dropzone = $('#dropzone');
    $dropzone.addClass('in');
    var found = false,
        node = e.target;
    do {
        if (node === $dropzone[0]) {
            found = true;
            break;
        }
        node = node.parentNode;
    } while (node != null);
    if (found) {
        $dropzone.addClass('hover');
    } else {
        $dropzone.removeClass('hover');
    }
  });

  // Handle the file upload
  $('#fileupload').fileupload({
    // Basic thingy
    dataType: 'json',

    // Enable dropzone
    dropZone: $('#dropzone'),

    // Allow only jp(e)g or png files
    acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,

    // Callbacks
    add: function (e, data) {
      $('#progress .bar').css('width', '0%');
      $('#progress').show();
      data.submit();
    },

    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .bar').css('width', progress + '%');
    },

    done: function (e, data) {
      console.log('got result', data);
      $('#progress').hide();
      var $alert;
      if (data.result.error) {
        console.log('Chyba nahrávání obrázku:', data);
        $alert = $('<div class="alert alert-danger" role="alert">'+data.result.error+'</div>').prependTo('#image-uploader');
        // setTimeout(function(){
        //   $alert.hide('slow').remove();
        // }, 3000);
      } else {
        $('#dropzone').attr('src', data.result.path);
        $alert = $('<div class="alert alert-success" role="alert"> Je to tam, díííík ;-)<br/>Za chvíli tě to přesměruje na ten odpadek. </div>').prependTo('#image-uploader');
        setTimeout(function(){
          document.location = '/odpadky/{{_id}}/upravit';
        }, 1000);
      }
    },

    fail: function (e, data) {
      var $alert = $('<div class="alert alert-danger" role="alert"> Něco se ošklivým způsobem nepovedlo. </div>').prependTo('#image-uploader');
      setTimeout(function(){
        $alert.hide('slow').remove();
      }, 3000);
    },

  });
});
</script>
