{{#if id}}
<h1>Upravit odpadek</h1>
{{else}}
<h1>Nový odpadek</h1>
{{/if}}

{{#if id}}
<form action="/odpadky/{{id}}" method="post" enctype="application/x-www-form-urlencoded">
{{else}}
<form action="/odpadky" method="post" enctype="application/x-www-form-urlencoded">
	<input type="hidden" value="PUT" name="_method" />
{{/if}}
	<p>
		Jmeno:
		<input name="name" value="{{name}}" />
	</p>
	<p>
		Aliasy:
		<input name="aliases" value="{{aliases}}" />
	</p>
	<p>
		Kategorie:
		<input name="category" value="{{category}}" />
	</p>
	<p>
		Popis:
		<textarea name="content">{{content}}</textarea>
	</p>
	<p>
		<input type="submit" value="odeslat" />
		<a href="/odpadky/{{id}}">zrušit</a> |
		<a href="/odpadky/{{id}}/upravit">obnovit formulář</a> |
		<a href="/odpadky">seznam odpadků</a>
	</p>
</form>
{{> trash/delete}}

<script>
$(function() {
	$('[name=aliases]').selectize({delimiter: ','});
	$('[name=category]').selectize({
		valueField: 'url',
		labelField: 'name',
		searchField: 'name',
		create: false,
		render: {
				option: function(item, escape) {
						return '<div>' +
							'<span class="title"><span class="name">' + escape(item.name) + '</span></span>' +
							'<span class="description">' + escape(item.description) + '</span>' +
						'</div>';
				}
		},
		score: function(search) {
				// var score = this.getScoreFunction(search);
				return function(item) {
						return item.score;
						// return score(item) * (1 + Math.min(item.watchers / 100, 1));
				};
		},
		load: function(query, callback) {
				if (!query.length) return callback();
				$.ajax({
						url: '/category/search/' + encodeURIComponent(query),
						type: 'GET',
						error: function() {
								callback();
						},
						success: function(res) {
								callback(res.repositories.slice(0, 10));
						}
				});
		}
	});
</script>
