<h1>{{name}}</h1>
<p>vytvořen {{creation_date}} | naposledy praven {{last_edit_date}}</p>
<p>{{content}}</p>
<p>
	<a href="/odpadky/{{id}}/upravit">upravit</a>
	<a href="/odpadky">seznam odpadku</a>
	{{> trash/delete}}
</p>
