<h1>Las Kategorías</h1>
{{! TODO bootstrap a zarovnat do krabicek ;) }}
<ul>
	<li>
		<p>
			<a href="/kategorie/nova">Vytvořit novou kategorii</a>
		</p>
	</li>
{{#kategorie}}
	<li>
		<h3><a href='/kategorie/{{id}}'>{{name}}</a></h3>
		{{! TODO preview helper metoda aby se zobrazovalo jen prvnich 100 znaku contentu }}
		<pre>{{code_name}}</pre>
		<p>{{content}}</p>
		<p>
			<a href="/kategorie/{{id}}/upravit">upravit</a>
			{{> category/delete}}
		</p>
	</li>
	<hr/>
{{/kategorie}}
</ul>
