<div style="text-align: center;">
	<h1>Los Známkos{{#if q}}: {{q}}{{/if}}</h1>
	<p>&nbsp;</p>
	{{> badge/search}}
</div>
<div class="row">
	<div class="card col-xs-12 col-md-4 text-center" style="padding: 0;">
		<a href="/znamky/nova" class="btn btn-primary" style="width: 100%; height: 100%;">
			<i class="fa fa-plus-circle fa-5x" aria-hidden="true" style="vertical-align: center;"></i><br/>
			vytvořit<br/>
			novou<br/>
      známku
		</a>
	</div>
{{#badges}}
	<div class="card col-xs-12 col-md-4">
    <img class="card-img-top" src="{{image.url}}" />
	  <div class="card-block text-center">
	    <h4 class="card-title"><a href='/znamky/{{_id}}'>{{name}}</a></h4>
	    <p class="card-text">{{description}}</p>

		  <div class="card-block">
				<a href="/znamky/{{_id}}/upravit">upravit</a> | {{> badge/delete}}
			</div>

	  </div>
	</div>
{{/badges}}
</div>
